<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Investment Industry</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!-- Just an image -->
<nav class="navbar navbar-light bg-light mb-3">
    <a class="navbar-brand" th:href="@{/}">
        Investment
    </a>
</nav>
<div class="container pl-0 pr-0">
    <h5>Welcome to Investment Apps</h5>

    <a th:href="@{/user/get}">
        <div class="btn btn-success">Go To User</div>
    </a>


</div>
</body>
</html>